<div class="container-fluid">
    <div class="row">



        <div class="col-md-4 ">
            <div class="container">
                <app-inserta-p>
                </app-inserta-p>
            </div>
            <div class="container">
                <app-edita-p>
                </app-edita-p>
            </div>
        </div>

        <div class=" col-lg-8 col-md-12 row">
            <div id="wrapper" class="register">
                <div class="register-s">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <form class="form-horizontal form-material">
                                        <fieldset>
                                            <br>
                                            <div>
                                                <form class="navbar-form">
                                                    <div class="input-group">
                                                        <input type="search" class="form-control" placeholder="Search" />
                                                        <div class="d-flex">
                                                            <div class="dropdown mr-1">
                                                                <button type="button" class="btn btn-info" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                                                    <i class="fas fa-ellipsis-h"></i>
                                                                  </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                                                    <button class="dropdown-item clear"><i class="far fa-file-pdf"></i> PDF</button>
                                                                    <button class="dropdown-item clear"><i class="far fa-file-excel"></i> Excel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                <table id="tab1" class="table table-striped ">
                                                    <tr>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Descripción</th>
                                                        <th scope="col">Ingredientes</th>
                                                        <th scope="col">Piezas</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Acciones</th>

                                                    </tr>
                                                    <tr>




                                                        <td scope="row">ggg</td>
                                                        <td scope="row">ffff</td>
                                                        <td scope="row">ggg</td>
                                                        <td scope="row">ffff</td>
                                                        <td scope="row">ggg</td>

                                                        <td scope="row" width="100px">


                                                            <button type="button" class="btn btn-info btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h "></i></button>
                                                            <div class="dropdown-menu dropdown-menu-right shadow-lg " aria-labelledby="dropdownReports">
                                                                <div class="dropdown-header text-info ">
                                                                    <span class="text-xs text-uppercase ">Acciones</span>
                                                                </div>
                                                                <a type="button" class="dropdown-item drop-options-text excel "><i
                                                                            class="fa fa-edit mr-2 "></i>Actualizar</a>
                                                                <a type="button" class="dropdown-item drop-options-text pdf"><i
                                                                            class="fa fa-check mr-2 "></i>Activar</a>
                                                                <a type="button" class="dropdown-item drop-options-text pdf"><i
                                                                            class="fa fa-times mr-2 "></i>Desactivar</a>

                                                                <a type="button" class="dropdown-item drop-options-text excel "><i
                                                                            class="fa fa-cog mr-2 "></i>Gestionar giros</a>
                                                            </div>

                                                        </td>


                                                        <!-- 
                                                            <td>{{direccion.strNombre}}</td>
                                                            <td><button class="btn btn-outline-danger" type="button" (click)="eliminar(direccion)">Especialidad</button>
                                                            </td>
                                                            <td><button class="btn btn-outline-warning" type="button" (click)="actualizar(direccion._id)">Editar</button>
                                                            </td> -->
                                                    </tr>
                                                </table>
                                                <!-- <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> -->
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>