.register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    /* position: relative; */
}

.register-s {
    width: 80%;
    margin: 13%;
}