<div class="container-fluid">
    <div class="row">



        <div class="col-md-4">
            <div class="container">
                <app-registra-p>
                </app-registra-p>
            </div>
            <!-- <div class="container ">
                <app-edita>
                </app-edita>
            </div> -->
        </div>

        <div class=" col-lg-8 col-md-12 ">
            <div id="wrapper" class="register">
                <div class="register-s">

                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal form-material">
                                <fieldset>
                                    <br>
                                    <div>
                                        <form class="navbar-form">
                                            <div class="input-group">
                                                <input type="search" class="form-control" placeholder="Search" />
                                                <div class="d-flex">
                                                    <div class="dropdown mr-1">
                                                        <button type="button" class="btn btn-info" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                                                    <i class="fas fa-ellipsis-h"></i>
                                                                  </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                                            <button class="dropdown-item clear"><i class="far fa-file-pdf"></i> PDF</button>
                                                            <button class="dropdown-item clear"><i class="far fa-file-excel"></i> Excel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                        <table id="tab1" class="table table-striped ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col">Acciones</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let categoria of categorias">




                                                    <td scope="row">{{categoria.strNombre}}</td>
                                                    <td scope="row">{{categoria.strDescripcion}}</td>
                                                    <td class="text-center">{{categoria.blnActivo == true ? 'Si': 'No'}}</td>
                                                    <td scope="row" width="100px">


                                                        <button type="button" class="btn btn-info btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h "></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right shadow-lg " aria-labelledby="dropdownReports">
                                                            <div class="dropdown-header text-info ">
                                                                <span class="text-xs text-uppercase ">Acciones</span>
                                                            </div>
                                                            <a type="button" class="dropdown-item drop-options-text excel (click)=mostrarActualizar(sector._id)"><i
                                                                            class="fa fa-edit mr-2 "></i>Actualizar</a>
                                                            <a type="button" class="dropdown-item drop-options-text pdf (click)=ActivarSector(sector._id)
                                                        *ngIf=!sector.blnActivo"><i
                                                                            class="fa fa-check mr-2 "></i>Activar</a>
                                                            <a type="button" class="dropdown-item drop-options-text pdf (click)=eliminarSector(sector._id)
                                                        *ngIf=sector.blnActivo"><i
                                                                            class="fa fa-times mr-2 "></i>Desactivar</a>

                                                            <a type="button" class="dropdown-item drop-options-text excel  [routerLink]=['/giros', sector._id]"><i
                                                                            class="fa fa-cog mr-2 "></i>Gestionar giros</a>
                                                        </div>

                                                    </td>

                                                </tr>
                                            </tbody>
                                            <tr class="bg-white" *ngIf="categorias == '' || categorias === undefined && !cargando">
                                                <td colspan="4" class="text-center">
                                                    <div class="alert alert-dismissible alert-light">
                                                        <h5 style="height: 100%; width: 100%;">
                                                            <strong><i class="fa fa-frown-o" aria-hidden="true"></i> ¡NO HAY
                                                            REGISTROS PARA MOSTRAR!</strong>
                                                        </h5>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- SE MUESTRA CUANDO ESTÁ CARGANDO -->
                                            <tr *ngIf="cargando">
                                                <td colspan="14">
                                                    <div class=" alert-dismissible text-center" style="padding: .75rem 1.25rem;">
                                                        <h5 style="height: 100%;width: 100%;"><strong><i
                                                                class="fa fa-spinner fa-pulse"></i> CARGANDO</strong>
                                                        </h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- <pagination-controls (pageChange)="pageActual = $event"></pagination-controls> -->
                                    </div>
                                </fieldset>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>